playwright==1.60.0
Pillow==12.1.1
pywebview==6.2.1
ttkbootstrap==2.2.2
pywin32>=311,<313
winrt-runtime==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Globalization==3.2.1
winrt-Windows.Graphics.Imaging==3.2.1
winrt-Windows.Storage.Streams==3.2.1
winrt-Windows.Media.Ocr==3.2.1
